<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/html" href="mystyle.css">
    <title>My Reddit Saved</title>
</head>
<body>
    <p id="demo"></p>

    {{#each subreddits}}  
        <div>
            <a href="#{{this}}" style="padding: 10px 20px 10px 20px; float:left; margin:0">{{this}}</a>
        </div>
    {{/each}}

    <br>

    <div>
        {{> header}}
    </div>

    <h2>Saved Reddit Posts</h2>  
        {{#each formattedData}}      
            <h3 id="{{@key}}">{{@key}}</h3>
            {{#each this}}
                <div>
                    <a href="https://www.reddit.com{{permalink}}">{{title}}</a>
                    <a href="#" id="{{id}}" onclick="unsave('{{id}}')" style="font-size:75%;">[Unsave]</a>
                </div>
            {{/each}}
            <div>{{subreddit_name_prefixed}}</div>
            <br>
            <hr>
        {{/each}}

    <br>
    <h2>Saved Reddit Comments</h2>  

    {{#each formmatedComments}}   
        <h3 id="{{@key}}">{{@key}}</h3>
        {{#each this}}
            <div>
                <a href="{{link_permalink}}">{{body}}</a>
            </div>
        {{/each}}
        <div>{{subreddit_name_prefixed}}</div>
        <br>
        <hr>
    {{/each}}
    <footer>
        <p>Copyright {{getCurrentYear}}</p>
    </footer>
</div>

{{!-- load last --}}
<script src="../assets/scripts/index.js"></script>
</body>
</html>