<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../views/mystyle.css">
    <title>My Reddit Saved</title>
</head>
<body>
    <p id="demo"></p>

    {{#each subreddits}}  
        <div>
            <a href="#{{this}}" style="padding: 10px 20px 10px 20px; float:left; margin:0">{{this}}</a>
        </div>
    {{/each}}

    
    <br>
    <br>
    <br>    

    {{#if hasPosts}}
        <h1>Saved Reddit Posts</h2>  
        {{#each formattedData}}      
            <h3 id="{{@key}}">{{@key}}</h3>
            {{#each this}}
                <div id="{{id}}" class="hyperlink-row">
                    <a class="posts" href="https://www.reddit.com{{permalink}}">{{title}}</a>
                    <a href="#" onclick="unsave('{{id}}','submission')" style="font-size:75%;">[Unsave]</a>
                </div>
            {{/each}}
            <div>{{subreddit_name_prefixed}}</div>
            <br>
            <hr>
        {{/each}}
    {{/if}}        

    <br>
    {{#if hasComments}}
        <h1>Saved Reddit Comments</h2>  
        {{#each formmatedComments}}   
            <h3 id="{{@key}}" class="hyperlink-row">{{@key}}</h3>
            {{#each this}}
                <div id="{{id}}">
                    <a href="{{link_permalink}}">{{body}}</a>
                    <a href="#" onclick="unsave('{{id}}','comment')" style="font-size:75%;">[Unsave]</a>                
                </div>
            {{/each}}
            <div>{{subreddit_name_prefixed}}</div>
            <br>
            <hr>
        {{/each}}
    {{/if}}
    <footer>
        <p>Copyright {{getCurrentYear}}</p>
    </footer>
</div>

{{!-- load last --}}
<script src="../assets/scripts/index.js"></script>
</body>
</html>